* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    align-items: center;
    gap: 30px;
}

#reset-button {
    margin: 30px;
    padding: 20px;
}

#slider-value {
    font-size: 24px;
}

.container {
    border-style: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    align-items: flex-start;
}

.cell {
    width: 32px;
    height: 32px;
}